<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>Le mie Proposte</title>

    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./dist/css/tabler.min.css"/>
    <link rel="stylesheet" href="./dist/css/tabler-flags.min.css"/>
    <link rel="stylesheet" href="./dist/css/tabler-socials.min.css"/>
    <link rel="stylesheet" href="../style/demo.css"/>

    <style>
        @import url('https://rsms.me/inter/inter.css');
    </style>
</head>
<body>

    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col d-flex justify-content-between align-items-center">
                        <td class="text-start">
                        <h1>Proposta ${proposta.codice}</h1>
                        </td>

                      <!-- Stato della proposta con pallino -->
                    <td class="text-center">
                        <#if proposta.statoProposta?string == "ACCETTATO">
                            <span class="badge bg-success me-7"></span>Accettata
                        </#if>
                        <#if proposta.statoProposta?string == "RIFIUTATO">
                            <span class="badge bg-warning me-7" ></span>Rifiutata
                        </#if>
                        <#if proposta.statoProposta?string == "IN_ATTESA">
                            <span class="badge bg-danger me-7"></span>In attesa
                        </#if>
                        <#if proposta.statoProposta?string == "ORDINATO">
                            <span class="badge bg-primary me-7" ></span>Ordinata
                        </#if>
                    </td>
               
                    
                    

                    <#if user.tipologiaUtente == "ORDINANTE" && stato == "IN_ATTESA">
                    <div class="col-auto ms-auto d-print-none d-flex">
                        <button type="button" class="btn btn-success me-2">Accetta</button>
                        <button type="button" class="btn btn-danger">Rifiuta</button>
                    </div>
                </#if>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="h3">Richiesta ${proposta.getRichiesta().codiceRichiesta}</p>
                            <p>${proposta.getRichiesta().note}</p>
                        </div>
                        <div class="col-6 text-end">
                            <p class="h3">Presa in carico da:</p>
                            <p>${proposta.getRichiesta().tecnico.username}</p> 

                        </div>
                    </div>

                    <div class="col-12 my-5">
                        <h1>Proposta ${proposta.codice}</h1>
                    </div>

                    <table class="table table-transparent table-responsive">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Prodotto</th>
                            <th class="text-center">Produttore</th>
                            <th class="text-end">Codice</th>
                            <th class="text-end">Prezzo</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <p class="strong mb-1">${proposta.codiceProdotto}</p>
                                <div class="text-secondary">
                                    <a href="${proposta.url}" target="_blank" rel="noopener noreferrer">${proposta.url}</a>
                                </div>
                                
                                
                            </td>
                            <td class="text-center">${proposta.produttore}</td>
                            <td class="text-end">${proposta.codiceProdotto}</td>
                            <td class="text-end">€${proposta.prezzo}</td>
                        </tr>
                    </table>

                    <div class="text-end mt-4">
                        <p>${proposta.note!'Nessuna nota inserita'}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./dist/js/tabler.min.js" defer></script>
</body>
</html>
