

    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col d-flex justify-content-between align-items-center">
                        <td class="text-start">
                        <h1>Proposta ${proposta.codice}</h1>
                        </td>

                     
               
                    
                    
                    <#if user.tipologiaUtente == "ORDINANTE" && stato == "IN_ATTESA">
                    <div class="col-auto ms-auto d-print-none d-flex">
                        <a href= "dettaglioProposta?action=accettaProposta&n=${proposta.key}"class="btn btn-success">Accetta proposta</a>
                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-danger">Rifiuta proposta</a>

                    </div>


                    
                </#if>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="h3">Richiesta ${proposta.getRichiesta().codiceRichiesta}</p>
                            <p>${proposta.getRichiesta().note}</p>
                        </div>
                        <div class="col-6 text-end">
                            <p class="h3">Presa in carico da:</p>
                            <p>${proposta.getRichiesta().tecnico.username}</p> 

                        </div>
                    </div>

                    <div class="col-12 my-5">
                        <h1>Proposta ${proposta.codice}</h1>
                    </div>

                    <table class="table table-transparent table-responsive">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Prodotto</th>
                            <th class="text-center">Produttore</th>
                            <th class="text-end">Codice</th>
                            <th class="text-end">Prezzo</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <p class="strong mb-1">${proposta.codiceProdotto}</p>
                                <div class="text-secondary">
                                    <a href="${proposta.url}" target="_blank" rel="noopener noreferrer">${proposta.url}</a>
                                </div>
                                
                                
                            </td>
                            <td class="text-center">${proposta.produttore}</td>
                            <td class="text-end">${proposta.codiceProdotto}</td>
                            <td class="text-end">€${proposta.prezzo}</td>
                        </tr>
                    </table>

                    <div class="text-end mt-4">
                        <p>${proposta.note!'Nessuna nota inserita'}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Rifiuto Ordine -->
<div class="modal modal-blur fade" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <h3>Inserisci la motivazione del rifiuto</h3>
                <form action="dettaglioProposta?action=rifiutaProposta&n=${proposta.key}" method="post">
                    
                    
                    <!-- Campo testo per la motivazione -->
                    <div class="mb-3">
                        <textarea class="form-control" name="motivazione" rows="5" placeholder="Scrivi qui la motivazione del rifiuto"></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancella</button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-danger w-100">Rifiuta proposta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
