<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card card-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="h3">Ordinante: ${ordinante.username}</p>
                    </div>
                    <div class="col-6 text-end">
                        <p class="h3">Tecnico: ${tecnico.username}</p>
                    </div>
                    <div class="col-12 my-5">
                        <h1>Numero proposta: ${proposta.id}</h1>
                    </div>
                </div>
                <table class="table table-transparent table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 1%"></th>
                            <th>Prodotto</th>
                            <th class="text-center" style="width: 1%">Categoria</th>
                            <th class="text-end" style="width: 1%">Data</th>
                            <th class="text-end" style="width: 1%">Codice prodotto</th>
                            <th class="text-end" style="width: 1%">URL</th>
                            <th class="text-end" style="width: 1%">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <#list proposte as proposta>
                            <tr>
                                <td class="text-center">${proposta?index + 1}</td>
                                <td>
                                    <p class="strong mb-1">${proposta.prodotto}</p>
                                    <div class="text-secondary">${proposta.produttore}</div>
                                </td>
                                <td class="text-center">${proposta.categoriaId}</td>
                                <td class="text-end">${proposta.data?string("dd/MM/yyyy")}</td>
                                <td class="text-end">${proposta.codice_prodotto}</td>
                                <td class="text-end">
                                    <a href="${proposta.URL}" target="_blank">Visualizza</a>
                                </td>
                                <td class="text-end">$${proposta.prezzo?string(",0.00")}</td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
                <p class="text-secondary text-center mt-5">
                    Grazie per aver creduto nella mia proposta! Spero che l'ordine venga concluso con successo.
                </p>
            </div>
        </div>
    </div>
</div>