
	

		<!-- Page body -->
		<div class="page-body">
			<div class="container-xl">
<div class="card card-lg">
	<div class="card-body">
		<div class="row">
			<div class="col-6">
				<p class="h3">Ordinante
				</p>
				
			</div>
			<div class="col-6 text-end">
				<p class="h3">Tecnico</p>
				
			</div>
			<div class="col-12 my-5">
				<h1>Codice richiesta</h1>
			</div>
		</div>
		<table class="table table-transparent table-responsive">
			<thead>
			<tr>
				<th class="text-center" style="width: 1%"></th>
				<th>Caratteristica</th>
				
			</tr>
			</thead>
			<tr>
				<td class="text-center">1</td>
				<td>
					<p class="strong mb-1">Caratteristica 1 </p>
					<div class="text-secondary">Valore </div>
				</td>
				
				
			</tr>
			
			
		</table>
		

	</div>
</div>
			</div>
		</div>
		
