
		<!-- Page body -->
		<div class="page-body">
			
			<div class="container-xl">
<div class="card card-lg">
	<div class="card-body">
		<div class="row">
			<div class="col-6">
				<p class="h3">Ordinante
				</p>
				
			</div>
			<div class="col-6 text-end">
				<p class="h3">Tecnico</p>
				
			</div>
			<div class="col-12 my-5">
				<h1>Numero proposta</h1>
			</div>
		</div>
		<table class="table table-transparent table-responsive">
			<thead>
			<tr>
				<th class="text-center" style="width: 1%"></th>
				<th>Prodotto</th>
				<th class="text-center" style="width: 1%">Categoria</th>
				<th class="text-end" style="width: 1%">Data</th>
				<th class="text-end" style="width: 1%">Codice prodotto</th>
				<th class="text-end" style="width: 1%">URL</th>
				<th class="text-end" style="width: 1%">Prezzo</th>
			</tr>
			</thead>
			<tr>
				<td class="text-center">1</td>
				<td>
					<p class="strong mb-1">Computer Asus </p>
					<div class="text-secondary">Mega gaming </div>
				</td>
				<td class="text-center">
					1
				</td>
				<td class="text-end">29/11/2009</td>
				<td class="text-end">djalw32w</td>
				<td class="text-end">Visualizza</td>
				<td class="text-end">$1.800,00</td>
			</tr>
			
			
		</table>
		<p class="text-secondary text-center mt-5">Grazie per aver creduto nella mia proposta! Spero che l'ordine venga concluso con successo</p>
		

	</div>
</div>
			</div>
		</div>
		
	