<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <head>
        <title>Errore</title>
        <link rel="stylesheet" href="style/demo.css">
	    <link rel="stylesheet" href="style/demo.min.css">
	    <link rel="stylesheet" href="style/tabler.css">
	    <link rel="stylesheet" href="style/tabler.min.css">
    </head>
    <body class="d-flex align-items-center justify-content-center vh-100 text-center">
        <div>
            <div><a href="login">Return to Login</a></div>
            <h1>Error</h1>
            <p>The system encountered the following error while handling your request:</p>
            <p><b>${error!"Unknown error"}</b></p>
        </div>
    </body>
</html>