


        <div class="page-body">
            <div class="container-xl">
                <div class="text-center my-4">
                    <h1>Le mie proposte</h1>
                </div>
                <div class="row g-4">
                    <div class="col-md-9 mx-auto">

                        <div class="row row-cards">
                            <#list proposte as proposta>
    <div class="card">
        <div class="card-body">
            <table class="table">
              
                    <!-- Codice proposta -->
                    <td class="text-start ps-0">
                        <a href="dettaglioProposta?n=${proposta.key}" class="text-primary">Proposta: ${proposta.codice}</a>
                    </td>
                    

                    <!-- Stato della proposta con pallino -->
                    <td class="text-end">
                        <#if proposta.statoProposta?string == "ACCETTATO">
                            <span class="badge bg-success me-1"></span>Accettata
                        </#if>
                        <#if proposta.statoProposta?string == "RIFIUTATO">
                            <span class="badge bg-danger me-1" ></span>Rifiutata
                        </#if>
                        <#if proposta.statoProposta?string == "IN_ATTESA">
                            <span class="badge bg-warning me-1"></span>In attesa
                        </#if>
                        <#if proposta.statoProposta?string == "ORDINATO">
                            <span class="badge bg-primary me-1" ></span>Ordinata
                        </#if>
                    </td>
               
            </table>

            

            <div class="mt-4 d-flex justify-content-between align-items-center">
                <div>
                    <strong>Categoria:</strong> ${proposta.richiesta.categoria.nome} |
                    <strong>Richiesta:</strong>
                    <a href="dettaglioRichiesta?n=${proposta.richiesta.key}" class="text-info" >${proposta.richiesta.codiceRichiesta}</a> |

                    <strong>Nome prodotto:</strong> ${proposta.prodotto}
                </div>
            </div>
        </div>
    </div>
</#list>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
