
		<!-- Page body -->
		<div class="page-body">
			<div class="container-xl">
<div class="card">
	<div class="card-body">
		<div class="accordion" id="accordion-example">
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading-1">
					<button class="accordion-button d-flex align-items-center" 
							type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" 
							aria-expanded="true" aria-controls="collapse-1">
					  <span>Numero ordine</span>
					  <span class="d-flex align-items-center ms-3"> 
						<span class="badge bg-success me-1"></span> Paid
					  </span>
					</button>
				  </h2>
				  
				  
				<div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
				  <div class="accordion-body pt-0">
					<a href="pagina1.html" class="btn btn-ghost-success me-2 active">Dettagli ordine</a>
					<a href="pagina2.html" class="btn btn-ghost-danger me-2 active">Vai alla proposta</a>
					<a href="pagina3.html" class="btn btn-ghost-primary me-2 active">Vai alla richiesta</a>
					<a href="pagina1.html" class="btn btn-yellow me-2 active">Recensisci tecnico</a> 
				  </div>
				</div>
			  </div>
			  
			  <div class="accordion-item">
				<h2 class="accordion-header" id="heading-2">
					<button class="accordion-button d-flex align-items-center" 
							type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" 
							aria-expanded="true" aria-controls="collapse-2">
					  <span>Numero ordine</span>
					  <span class="d-flex align-items-center ms-3"> 
						<span class="badge bg-success me-1"></span> Paid
					  </span>
					</button>
				  </h2>
				  
				  
				<div id="collapse-2" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
				  <div class="accordion-body pt-0">
					<a href="pagina1.html" class="btn btn-ghost-success me-2 active">Dettagli ordine</a>
					<a href="pagina2.html" class="btn btn-ghost-danger me-2 active">Vai alla proposta</a>
					<a href="pagina3.html" class="btn btn-ghost-primary me-2 active">Vai alla richiesta</a>
					<a href="pagina1.html" class="btn btn-yellow me-2 active">Recensisci tecnico</a>
					  
				  </div>
				</div>
			  </div>
			
			
			
		</div>
		
	</div>
</div>
			</div>
		</div>
		
	