<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>Le mie Proposte</title>

    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./dist/css/tabler.min.css"/>
    <link rel="stylesheet" href="./dist/css/tabler-flags.min.css"/>
    <link rel="stylesheet" href="./dist/css/tabler-socials.min.css"/>
    <link rel="stylesheet" href="../style/demo.css"/>

    <style>
        @import url('https://rsms.me/inter/inter.css');
    </style>
</head>
<body>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h1>Proposta ${proposta.codice}</h1>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <button type="button" class="btn btn-success" onclick="javascript:window.print();">Accetta</button>
                </div>
                <div class="col-auto d-print-none">
                    <button type="button" class="btn btn-danger" onclick="javascript:window.print();">Rifiuta</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="h3">Richiesta ${proposta.getRichiesta.codice}</p>
                            <p>${proposta.getRichiesta.note}</p>
                        </div>
                        <div class="col-6 text-end">
                            <p class="h3">Presa in carico</p>
                            <p>${proposta.getTecnico.getUsername}</p> !!!!!!!!!!!!!!!
                        </div>
                    </div>

                    <div class="col-12 my-5">
                        <h1>Proposta ${proposta.codice}</h1>
                    </div>

                    <table class="table table-transparent table-responsive">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Prodotto</th>
                            <th class="text-center">Produttore</th>
                            <th class="text-end">Codice</th>
                            <th class="text-end">Prezzo</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <p class="strong mb-1">${proposta.prodotto}</p>
                                <div class="text-secondary"><a href="${prodotto_link}">${proposta.url}</a></div>
                            </td>
                            <td class="text-center">${proposta.produttore}</td>
                            <td class="text-end">${proposta.codiceProdotto}</td>
                            <td class="text-end">€${proposta.prezzo}</td>
                        </tr>
                    </table>

                    <div class="text-end mt-4">
                        <p>${proposta.note!'Nessuna nota inserita'}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./dist/js/tabler.min.js" defer></script>
</body>
</html>
