<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>security.protect.patterns</param-name>
        <!-- qui configuriamo i pattern delle URL da proteggere -->
        <param-value>/login,
                     /logout,
                     /CreaProposta,
                     /CreaRichiesta,
                     /DettaglioOrdine,
                     /DettagioProposta,
                     /DettaglioRichiesta,
                     /ElencoOrdini,
                     /ElencoProposte,
                     /ElencoRichieste,
                     /GestioneUtenti,
                     /Home,
                     /HomeAdmin,
                     /Impostazioni
         </param-value>
    </context-param>
    <context-param>
        <param-name>images.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>d:/Java/TomcatWork</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.filler.timestamp</param-name>
        <param-value>it.univaq.f4i.iw.ex.webmarket.controller.DummyModelFiller</param-value>
    </context-param>
    <context-param>
        <param-name>data.source</param-name>
        <!-- qui configuriamo in nome della data source da usare nel codice -->
        <param-value>jdbc/webdb2</param-value>
    </context-param>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Impostazioni</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.Impostazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioneUtenti</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.GestioneUtenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElencoRichieste</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.ElencoRichieste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElencoProposte</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.ElencoProposte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElencoOrdini</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.ElencoOrdini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRichiesta</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.DettaglioRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioProposta</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.DettagioProposta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioOrdine</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.DettaglioOrdine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaRichiesta</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.CreaRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaProposta</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.webmarket.controller.CreaProposta</servlet-class>
    </servlet>
    





    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaProposta</servlet-name>
        <url-pattern>/CreaProposta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaRichiesta</servlet-name>
        <url-pattern>/CreaRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioOrdine</servlet-name>
        <url-pattern>/DettaglioOrdine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioProposta</servlet-name>
        <url-pattern>/DettaglioProposta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRichiesta</servlet-name>
        <url-pattern>/DettaglioRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElencoOrdini</servlet-name>
        <url-pattern>/ElencoOrdini</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ElencoProposte</servlet-name>
        <url-pattern>/ElencoProposte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElencoRichieste</servlet-name>
        <url-pattern>/ElencoRichieste</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>GestioneUtenti</servlet-name>
        <url-pattern>/GestioneUtenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Impostazioni</servlet-name>
        <url-pattern>/Impostazioni</url-pattern>
    </servlet-mapping>
    
    
    
    





    

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/webdb2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
